<div class="container custom-container">
  <div class="col-md-12">
    <div class="form-group">
      <input name="searchInput" type="text" [(ngModel)]="searchItem.criteria" class="form-control" placeholder="Player's Name"  (keydown)="onKeydown($event)">
    </div>
    <div class="form-group">
      <button name="searchButton" class="btn btn-success btn-lg btn-block" (click)="searchPlayer()">Search</button>
    </div>    
  </div>
</div>

<div class="container custom-container-2">

  <!-- Show it when there is no Player -->
  <div class="no-data text-center" *ngIf="Player.length == 0">
    <p id="NotFoundLabel">No Soccer Player Found!</p>
  </div>

  <!-- Player list table -->
  <div *ngIf="Player.length !== 0">
    <h3 id="FoundLabel" class="mb-3 text-center">Soccer Players Found</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Weight</th>
            <th scope="col">Height</th>                        
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of Player">
            <td>{{player.id}}</td>
            <td>{{player.name}}</td>
            <td>{{player.age}}</td>
            <td>{{player.weight}}</td>
            <td>{{player.height}}</td>                        
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>